<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lista de Compras</name>
    <description>
        Aplicativo de teste de uma lista de compras
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Sabrina Dias
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <preference name="permissions" value="none" />
</widget>
